body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: beige;
}
#container {
    display: flex;
    width: 640px;
    height: 640px;
    border: solid;
    border-color: #1a94e6;
    flex-wrap: wrap; 
    background-color: white;
    margin: 20px 0px;
}

#box {
    box-Sizing: border-box;
    flex: 1 40px;
    border-width: 1px;
    background-Color: white;   
}

button {
    padding: 10px 20px;
    background-color: #1a94e6;
    border-radius: 10px;
    border: 0px;
    color:aliceblue;
    font-size: 16px;
    font-weight: bold;
}
